body {
  font-family: Arial, Helvetica, sans-serif;
}
html{
  scroll-behavior: smooth;
}

#promo {
  text-align: center;
  padding: 40px;
  background: url(../../assets/img/fw_al_007_02.jpg) no-repeat;
  background-size: cover;
}

@media (min-width: 992px) {
  #promo {
    padding: 20px;
  }
}

#promo .jumbotron {
  border-radius: 20px;
  padding: 40px;
  background-color: rgba(255,255,255,0.75);
  max-width: 800px;
  margin: 0 auto;
}

@media (min-width: 992px) {
  #promo .jumbotron {
    padding: 20px;
  }
}

.dark-section {
  background-color: #dddbd1;
}

.site-section {
  text-align: center;
  padding-bottom: 70px;
  background-color: #c6c2c2;
}

.site-section h1 {
  font-weight: normal;
  margin-bottom: 30px;
  margin-top: 60px;
}

#welcome p {
  max-width: 800px;
  font-size: 20px;
  margin: 0 auto;
}

#why .item {
  padding-top: 36px;
}

#why .item i {
  font-size: 42px;
}

#why .item h2 {
  font-weight: normal;
  margin-top: 13px;
  margin-bottom: 20px;
  font-size: 24px;
}

.col.md-4 {
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#pesawat {
  display: none;
  position: fixed;
  width: 100px;
  height: 100px;
  bottom: 15px;
  right: 0px;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}


/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
